node-red/alerta-mail.json
[{"id":"47a2fbb7.4c7b94","type":"mqtt in","z":"cfb9c2c.b155b4","name":"","topic":"/lacetania/node-123/reply/I12","qos":"0","broker":"31e885a2.f8c40a","x":332.3529281616211,"y":477.0588102340698,"wires":[["d7c1384c.d86408","5e3e35ed.4d7e3c"]]},{"id":"5e3e35ed.4d7e3c","type":"debug","z":"cfb9c2c.b155b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":724.1175918579102,"y":393.52936935424805,"wires":[]},{"id":"d7c1384c.d86408","type":"function","z":"cfb9c2c.b155b4","name":"","func":"if (msg.payload==1)\n{\n    msg.payload=\"Alerta!!!!!!!\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.6470718383789,"y":479.41173362731934,"wires":[["3068e432.05157c","5e3e35ed.4d7e3c"]]},{"id":"3068e432.05157c","type":"e-mail","z":"cfb9c2c.b155b4","server":"smtp.gmail.com","port":"465","secure":true,"name":"jnogues@gmail.com","dname":"","x":828.8235549926758,"y":472.35296726226807,"wires":[]},{"id":"31e885a2.f8c40a","type":"mqtt-broker","z":"","name":"eclipse","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
