node-red/intermitencia.json
[
    {
        "id": "d32b99ad.3fb9c8",
        "type": "inject",
        "z": "cfb9c2c.b155b4",
        "name": "DISPARA",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 271,
        "y": 159,
        "wires": [
            [
                "94035ee0.04d83"
            ]
        ]
    },
    {
        "id": "94035ee0.04d83",
        "type": "trigger",
        "z": "cfb9c2c.b155b4",
        "op1": "q13on",
        "op2": "q13off",
        "op1type": "str",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 457.88885498046875,
        "y": 158.22222900390625,
        "wires": [
            [
                "204faf3b.744a3"
            ]
        ]
    },
    {
        "id": "204faf3b.744a3",
        "type": "mqtt out",
        "z": "cfb9c2c.b155b4",
        "name": "",
        "topic": "/lacetania/node-11/relay/0/set",
        "qos": "0",
        "retain": "",
        "broker": "71093905.26bff8",
        "x": 693,
        "y": 151,
        "wires": []
    },
    {
        "id": "895eee04.7b51b",
        "type": "inject",
        "z": "cfb9c2c.b155b4",
        "name": "DISPARA",
        "topic": "",
        "payload": "q15tog",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 263,
        "y": 251,
        "wires": [
            [
                "e38904f4.93e2f8"
            ]
        ]
    },
    {
        "id": "e38904f4.93e2f8",
        "type": "mqtt out",
        "z": "cfb9c2c.b155b4",
        "name": "",
        "topic": "/lacetania/node-11/commands",
        "qos": "0",
        "retain": "",
        "broker": "71093905.26bff8",
        "x": 673,
        "y": 251,
        "wires": []
    },
    {
        "id": "38f4d3cf.f6875c",
        "type": "inject",
        "z": "cfb9c2c.b155b4",
        "name": "DISPARA",
        "topic": "/lacetania/node-11/commands",
        "payload": "q15tog",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250.58822631835938,
        "y": 331.76470947265625,
        "wires": [
            [
                "a4f35a1a.7c82d8"
            ]
        ]
    },
    {
        "id": "a4f35a1a.7c82d8",
        "type": "mqtt out",
        "z": "cfb9c2c.b155b4",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "71093905.26bff8",
        "x": 580.5882263183594,
        "y": 331.76470947265625,
        "wires": []
    },
    {
        "id": "71093905.26bff8",
        "type": "mqtt-broker",
        "z": "",
        "name": "eclipse",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
